#navbarMenu {
    background-color: #229fcb;
}

#navbarMenu .nav-link {
    color: white !important;
}

#navbarMenu .dropdown-menu a {
    color: black;
}

#navbarMenu .dropdown-menu a:hover {
    color: white;
    background-color: #229fcb;
}

#navbarUser .dropdown-menu a:hover {
    color: white;
    background-color: #343a40;
}

body {
    min-height: 100vh;
    position: relative;
    margin: 0;
}

footer {
    margin-top: 2%;
    position: absolute;
    bottom: 0;
    width: 100%;
}
