@page
@model sistema_vendas_web.Pages.Private.Usuarios.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<div class="mt-2">
    <h6>Edita Usuario</h6>
</div>
<hr />
<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Usuario.COD_USUARIO" />

    <div class="col col-sm-12">
        <div class="form-row mt-2">
            <div class="col col1 col-sm-6">
                <label asp-for="Usuario.NOME" class="control-label"></label>
                <input asp-for="Usuario.NOME" class="form-control" />
                <span asp-validation-for="Usuario.NOME" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Usuario.CPF" class="control-label"></label>
                <input asp-for="Usuario.CPF" class="form-control" />
                <span asp-validation-for="Usuario.CPF" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-3">
                <label asp-for="Usuario.LOGIN" class="control-label"></label>
                <input asp-for="Usuario.LOGIN" class="form-control" />
                <span asp-validation-for="Usuario.LOGIN" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Usuario.SENHA" class="control-label"></label>
                <input asp-for="Usuario.SENHA" class="form-control" />
                <span asp-validation-for="Usuario.SENHA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-6">
                <label asp-for="Usuario.EMAIL" class="control-label"></label>
                <input asp-for="Usuario.EMAIL" class="form-control" />
                <span asp-validation-for="Usuario.EMAIL" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Usuario.NIVEL_ACESSO" class="control-label"></label>
                <select asp-for="Usuario.NIVEL_ACESSO" class="form-control">
                    <option value="" selected disabled>Selecione</option>
                    <option value="Gerente">Gerente</option>
                    <option value="Vendedor">Vendedor</option>
                </select>
                <span asp-validation-for="Usuario.NIVEL_ACESSO" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <input type="submit" value="Salvar" class="btn btn-sm btn btn-primary" style="width:100px" />
        <a asp-page="./Index" class="btn btn-sm btn-outline-primary ml-2" style="width:100px">Voltar a Lista</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
