@page
@model sistema_vendas_web.Pages.Private.Produtos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="mt-2">
    <h6>Novo Produto</h6>
</div>
<hr />

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Produto.STATUS" value="Ativo" />

    <div class="col col-sm-12">
        <div class="form-row mt-2">
            <div class="col col1 col-sm-8">
                <label asp-for="Produto.DESCRICAO" class="control-label"></label>
                <input asp-for="Produto.DESCRICAO" class="form-control" />
                <span asp-validation-for="Produto.DESCRICAO" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-2">
                <label asp-for="Produto.QTD_MIN_ESTOQUE" class="control-label"></label>
                <input asp-for="Produto.QTD_MIN_ESTOQUE" class="form-control" />
                <span asp-validation-for="Produto.QTD_MIN_ESTOQUE" class="text-danger"></span>
            </div>
            <div class="col col3 col-sm-2">
                <label asp-for="Produto.VALOR_UNITARIO" class="control-label"></label>
                <input asp-for="valor_unitaro" class="form-control" />
                <span asp-validation-for="valor_unitaro" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col col-sm-12">
        <div class="form-row mt-2">
            <div class="col col1 col-sm-2">
                <label asp-for="Produto.UNIDADE_MEDIDA" class="control-label"></label>
                <input asp-for="Produto.UNIDADE_MEDIDA" class="form-control" />
                <span asp-validation-for="Produto.UNIDADE_MEDIDA" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-2">
                <label asp-for="Produto.COR" class="control-label"></label>
                <input asp-for="Produto.COR" class="form-control" />
                <span asp-validation-for="Produto.COR" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-2">
                <label asp-for="Produto.ALIQUOTA_IPI" class="control-label"></label>
                <input asp-for="aliquota_ipi" class="form-control" />
                <span asp-validation-for="aliquota_ipi" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-2">
                <label asp-for="Produto.VALOR_IPI" class="control-label"></label>
                <input asp-for="valor_ipi" class="form-control" />
                <span asp-validation-for="valor_ipi" class="text-danger"></span>
            </div>
            <div class="col col3 col-sm-2">
                <label asp-for="Produto.QTD_ESTOQUE" class="control-label"></label>
                <input asp-for="Produto.QTD_ESTOQUE" class="form-control" />
                <span asp-validation-for="Produto.QTD_ESTOQUE" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <input type="submit" value="Salvar" class="btn btn-sm btn btn-primary" style="width:100px" />
        <a asp-page="Index" class="btn btn-sm btn-outline-primary ml-2" style="width:100px">Voltar a Lista</a>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
