@page
@model sistema_vendas_web.Pages.Private.Fisicos.EditModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="mt-2">
    <h6>Edita Cliente Fisico</h6>
</div>
<hr />

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Fisico.COD_CLIENTE" />

    <div class="col col-sm-12">
        <div class="col col1 col-sm-3 ml-auto">
            <label asp-for="Fisico.DATA_NASCIMENTO" class="control-label"></label>
            <div class="input-group">
                <input asp-for="Fisico.DATA_NASCIMENTO" class="form-control" />
                <span asp-validation-for="Fisico.DATA_NASCIMENTO" class="text-danger"></span>
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="~/image/icon/16px/calendar.png" /></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12">
        <div class="form-row mt-2">
            <div class="col col1 col-sm-6">
                <label asp-for="Fisico.NOME" class="control-label"></label>
                <input asp-for="Fisico.NOME" class="form-control" />
                <span asp-validation-for="Fisico.NOME" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Fisico.CPF" class="control-label"></label>
                <input asp-for="Fisico.CPF" class="form-control" />
                <span asp-validation-for="Fisico.CPF" class="text-danger"></span>
            </div>
            <div class="col col3 col-sm-3">
                <label asp-for="Fisico.RG" class="control-label"></label>
                <input asp-for="Fisico.RG" class="form-control" />
                <span asp-validation-for="Fisico.RG" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-6">
                <label asp-for="Fisico.EMAIL" class="control-label"></label>
                <input asp-for="Fisico.EMAIL" class="form-control" />
                <span asp-validation-for="Fisico.EMAIL" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Fisico.TELEFONE_1" class="control-label"></label>
                <input asp-for="Fisico.TELEFONE_1" class="form-control" />
                <span asp-validation-for="Fisico.TELEFONE_1" class="text-danger"></span>
            </div>
            <div class="col col3 col-sm-3">
                <label asp-for="Fisico.TELEFONE_2" class="control-label"></label>
                <input asp-for="Fisico.TELEFONE_2" class="form-control" />
                <span asp-validation-for="Fisico.TELEFONE_2" class="text-danger"></span>
            </div>
        </div>
        <h5 class="mt-5 mb-3">ENDEREÇO</h5>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-3">
                <label asp-for="Fisico.CEP" class="control-label"></label>
                <input asp-for="Fisico.CEP" class="form-control" />
                <span asp-validation-for="Fisico.CEP" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-9">
                <label asp-for="Fisico.LOGRADOURO" class="control-label"></label>
                <input asp-for="Fisico.LOGRADOURO" class="form-control" />
                <span asp-validation-for="Fisico.LOGRADOURO" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-9">
                <label asp-for="Fisico.BAIRRO" class="control-label"></label>
                <input asp-for="Fisico.BAIRRO" class="form-control" />
                <span asp-validation-for="Fisico.BAIRRO" class="text-danger"></span>

            </div>
            <div class="col col2 col-sm-1">
                <label asp-for="Fisico.NUMERO" class="control-label"></label>
                <input asp-for="Fisico.NUMERO" class="form-control" />
                <span asp-validation-for="Fisico.NUMERO" class="text-danger"></span>
            </div>
            <div class="col col3 col-sm-2">
                <label asp-for="Fisico.COMPLEMENTO" class="control-label"></label>
                <input asp-for="Fisico.COMPLEMENTO" class="form-control" />
                <span asp-validation-for="Fisico.COMPLEMENTO" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col col1 col-sm-7">
                <label asp-for="Fisico.CIDADE" class="control-label"></label>
                <input asp-for="Fisico.CIDADE" class="form-control" />
                <span asp-validation-for="Fisico.CIDADE" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-2">
                <label asp-for="Fisico.UF" class="control-label"></label>
                <select asp-for="Fisico.UF" class="form-control">
                    <option value="" selected disabled>Selecione</option>
                    <option value="AC">AC</option>
                    <option value="AL">AL</option>
                    <option value="AP">AP</option>
                    <option value="AM">AM</option>
                    <option value="BA">BA</option>
                    <option value="CE">CE</option>
                    <option value="DF">DF</option>
                    <option value="ES">ES</option>
                    <option value="GO">GO</option>
                    <option value="MA">MA</option>
                    <option value="MT">MT</option>
                    <option value="MS">MS</option>
                    <option value="MG">MG</option>
                    <option value="PA">PA</option>
                    <option value="PB">PB</option>
                    <option value="PR">PR</option>
                    <option value="PE">PE</option>
                    <option value="PI">PI</option>
                    <option value="RJ">RJ</option>
                    <option value="RN">RN</option>
                    <option value="RS">RS</option>
                    <option value="RO">RO</option>
                    <option value="RR">RR</option>
                    <option value="SC">SC</option>
                    <option value="SP">SP</option>
                    <option value="SE">SE</option>
                    <option value="TO">TO</option>
                </select>
                <span asp-validation-for="Fisico.UF" class="text-danger"></span>
            </div>
            <div class="col col2 col-sm-3">
                <label asp-for="Fisico.STATUS" class="control-label"></label>
                <select asp-for="Fisico.STATUS" class="form-control">
                    <option value="" selected disabled>Selecione</option>
                    <option value="Ativo">Ativo</option>
                    <option value="Inativo">Inativo</option>
                </select>
                <span asp-validation-for="Fisico.STATUS" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-5">
        <input type="submit" value="Salvar" class="btn btn-sm btn btn-primary" style="width:100px" />
        <a asp-page="Index" class="btn btn-sm btn-outline-primary ml-2" style="width:100px">Voltar a Lista</a>
    </div>

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
